.link-detail-operations {
  flex: 1;

  color: #fff;
  background-color: #222;

  font-family: "Lato", Helvetica, Arial, sans-serif;

  padding-top: 32px;
  margin-top: 48px;
  margin-left: 12px;
  margin-bottom: 108px;

  border-radius: 8px;
}

.link-detail-operations-header-row {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;

  font-size: 18px;
}

.link-detail-operations-action-row {
  display: flex;
  flex-direction: row;

  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}
.link-detail-operations-resync {
  font-size: 16px;
  min-width: 100px;
  border-radius: 8px;
}
.link-detail-operations-last-synced-timestamp {
  line-height: 50px;
  margin-left: 20px;
}
.link-detail-operations-refresh-button {
  cursor: pointer;

  margin-left: 8px;
  width: 15px;
  height: 15px;

  position: relative;
  top: 18px;
}


.link-detail-operations-resync-loading-row {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  background-color: #333;
}
.link-detail-operations-resync-loading-status-icon {
  margin-right: 8px;
}

/* This class styles each operation row in the list. By default, it's in its closed position, and
 * when clicked, it opens, exposing details related to the operation (it's status, it's logs, and
 * more)*/
.link-detail-operations-item {
  list-style-type: none;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;

  border-bottom: 1px solid #555;
}
.link-detail-operations-item.selected {
  background-color: #333;
}
.link-detail-operations-item:first-of-type { border-top: 1px solid #555; }

.link-detail-operations-item-header {
  height: 48px;
  cursor: pointer;
}

/* Each operations row has two rows of information. These are created by nesting two row divs within a
 * flex parent with a direction of column, where each row div has a flex direction of row. */
.link-detail-operations-item-row {
  display: flex;
  flex-direction: row;
}

/* First, render an arrow to indicate whether this item is open or closed */
.link-detail-operations-item-arrow {
  margin-left: auto;
  margin-right: 0px;
  transform: rotate(180deg); /* Point left when closed */

  position: relative;
  top: 10px;
}
.link-detail-operations-item-arrow.open { transform: rotate(90deg); } /* Point down when open */

/* The status of the link operation is the second item in the operation row. It's either 'OK',
 * 'ERROR', or 'RUNNING'. */
.link-detail-operations-item-status {
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  position: relative;
  top: 1px;
  margin-right: 8px;
}
.link-detail-operations-item-status.status-ok { color: #43B02A; } /* ok, a green color */
.link-detail-operations-item-status.status-error { color: #D44C3B; } /* error, a red color */
.link-detail-operations-item-status.status-running { color: #C0A333; } /* running, a yellow color */

/* The id of the link operation, which is the last item on the first row. Similar to how github
 * does it, we make this monospace and surround it in small box. */
.link-detail-operations-item-id {
  background-color: #666;
  font-family: "Ubuntu Mono", "Droid Sans Mono", "Courier New", monospace;
  font-size: 18px;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;

  border-radius: 2px;
  cursor: text;
}

.link-detail-operations-item-duration {
  margin-top: 8px;
  font-size: 16px;
}



.link-detail-operations-item-body {
  list-style-type: none;
  padding-left: 0px;
  line-height: 24px;
}

/* Add a colon after the label */
.link-detail-operations-item-body label:after {
  padding-right: 10px;
  content: ': ';
}

ul.link-detail-operations-item-body-item {
  padding-left: 0px;
}

.link-detail-operations-item-body-item-error-item {
  list-style-type: none;
  background-color: #666;
  padding: 4px;
  border-radius: 4px;

  margin-top: 4px;
}


.link-detail-operations-error {
  list-style-type: none;

  font-size: 16px;
  text-align: center;
  padding-top: calc(50% - 8px);
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;

  border-top: 1px solid #555;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-detail-operations-error-glyph {
  margin-bottom: 10px;
}
