.link-detail-webhook-header {
  height: 24px;
  line-height: 20px;
  display: flex;
  user-select: none;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;

  /* When closed, match the bottom of the header with the border radius of the card */
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  cursor: pointer;
}
.link-detail-webhook-header.open {
  background-color: #333;

  /* When open, reset border radius to zero. */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}
.link-detail-webhook-header-arrow {
  margin-left: auto;
  transform: rotate(180deg);
}
.open .link-detail-webhook-header-arrow { transform: rotate(90deg); }

.link-detail-webhook-body {
  display: none;
  color: #fff;
  background-color: #444;
  line-height: 24px;
  font-size: 16px;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

  /* When open, match the bottom of the header with the border radius of the card */
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.link-detail-webhook pre {
  font-size: 12px;
  color: #fff;
}

.link-detail-webhook-body.open { display: block; }
