/*
 *
 *
 *
 *
 */

/* The link detail card - by default it's gray as its disabled. When enabled, the color is set via
 * an inline style in the component. */
.link-detail {
  max-width: 500px;
  margin: 50px auto;

  font-family: "Lato", Helvetica, Arial, sans-serif;

  font-size: 18px;
  cursor: default;

  border-radius: 8px;

  padding-top: 32px;
  margin-top: 32px;

  background-color: #999;
  transition: all 250ms ease-out;
}

/* The link detail loading indicator is shown when the link detail card is in a loading state.
 * It's componsed of a :before spinner element and an :after that takes up the page and bocks any
 * modification to the form while the loading state is active. */
.link-detail-loading {
  position: relative;
}
.link-detail-loading:before {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 65px;
  height: 65px;

  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -40px;
  margin-top: -32.5px;

  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: link-detail-loader 1.1s infinite linear;
  animation: link-detail-loader 1.1s infinite linear;
}
@-webkit-keyframes link-detail-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes link-detail-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.link-detail-loading:after {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

/* The link detail empty state is visible when a link is loading for the first time or cannot be
 * found. */
.link-detail-empty {
  text-align: center;
  margin-top: 100px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 24px;
}

/* The link detail card title--a textbox--is rendered at the top of the link detail card and used to
 * change the name of the link the detail card represents. */
.link-detail-title {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  height: 100px;
  padding: 16px 8px;
  color: #fff;
  display: flex;
  font-size: 24px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  outline: none;
  resize: none;
  margin-right: 24px;
  margin-left: 24px;
  width: calc(100% - 72px);
}
.link-detail-title::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.link-detail-title:focus {
  border-color: rgba(255, 255, 255, 0.4);
}

/*
 * The link-detail row contains the on-off switch and refresh button
 * The on-off switch is under the title and used for enabling / disabling the link.
 * The refresh button will add a new link operation to the end of the queue.
 */
.link-detail-row {
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.button.link-detail-refresh {
  font-size: 16px;
  margin-left: auto;
  min-width: 110px;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.link-detail-sync-status {
  position: relative;

  background-color: #333;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;

  line-height: 32px;
}
.link-detail-sync-status-icon {
  margin-right: 10px;
}
.link-detail-sync-status-close {
  position: absolute;
  top: 16px;
  right: 24px;
  font-size: 24px;

  user-select: none;
  cursor: pointer;
}
.link-detail-sync-status-close:active { opacity: 0.5; }

/* A link has two repositories - one to pull changes from and one to push changes to. */
.link-detail-repository {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 32px;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  flex-direction: column
}

/* Label each repository with its respective label - `upstream` or `fork` */
.link-detail-repository-header {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  margin-top: 16px;
}
.link-detail-repository-header-title {
  margin-right: auto;
}


/* The controls to change the owner / name / branch of a repository */
.link-detail-repository-edit {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* The fork repo first contains two radiobuttons to pick whether the fork should be a specific
 * fork or all forks of a repo. */
.link-detail-repository-edit-row-fork-radios {
  margin-bottom: 16px;
}

/* Style the radiobuttons */
.link-detail-repository-radio {
  display: none;
}
.link-detail-repository-radio + label:before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.8);
  margin-right: 8px;
}
.link-detail-repository-radio:checked + label:before {
  background-color: #ddd;
}
.link-detail-repository-radio + label {
  margin-right: 16px;
  user-select: none;
}

/* Next, we have the row that contains the repository owner / repository name inputs. */
.link-detail-repository-edit-row-owner-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.link-detail-decorator {
  font-size: 32px;
  padding: 16px 12px;
}

/* Finally, we have a row with a branch selection input to finish off the repository edit section. */
.link-detail-repository-edit-row-three {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

/* Styles for the text inputs and select boxes. These are used throughout the card to create that
 * "fat border" text input field. */
.link-detail-box {
  padding: 20px;
  border-radius: 8px;
  flex: 1;

  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding: 16px 8px;
  color: #fff;
  font-size: 24px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.2);
  outline: none;
}
.link-detail-box::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.link-detail-box:focus {
  border-color: rgba(255, 255, 255, 0.4);
}
.link-detail-box.owner { width: 0%; }
.link-detail-box.repo { width: 0%; }
.link-detail-box.branch {
  height: 72px;
  width: 100%;
}


.link-detail-save-button-container {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.2);
}
.save-button {
  margin: 0px auto;
  display: block;
  user-select: none;
}


/* The footer. This contains the action buttons (save, delete) as well as displays any errors. */
.link-detail-footer {
  max-width: 500px;
  margin: 32px auto;
  display: flex;
  justify-content: center;
}
.delete-button {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 24px;
  display: inline-block;
  cursor: pointer;
  color: #de3535;
  user-select: none;
}
.delete-button:active {
  opacity: 0.8;
}
.link-detail-error {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: inline-block;
  color: #de3535;
}

.link-detail-last-sync-time {
  justify-content: flex-end;
  align-items: flex-end;
  color: #ffffff;
}

.link-detail-refresh-button {
  cursor: pointer;

  margin-left: 8px;
  width: 3%;

  position: relative;
  top: -1px;
}

.link-detail-refresh-button:active { opacity: 0.8; }

.link-detail-repository-edit-fork-desc {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.4;
}

.link-detail-repository-edit-fork-desc a {
  color: #fff;
  margin-left: 5px;
}

.link-detail-repository-edit-fork-desc code {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
